/* Document Defaults */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1rem;
    width: 100%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0 0 0 30%;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a {
    color: white;
}

/* Header and Navigation */

nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

nav li {
    font-weight: 800;
    font-size: 2rem;
    margin: 40px 5% 0 0;
    font-family: 'Luxurious Roman', Helvetica, sans-serif;
   
}
nav ul {
    justify-content: end;
    display: flex;
    width: 100%;
    flex-shrink: 2;

}

@media only screen and (max-width: 480px) {
    
    nav ul {
        justify-self: center;
    }
    
    nav li {
        margin: 40px 5%;
    }
}

/* Animated Banner */

#animated-banner {
    display: flex;
    justify-content: center;
}

#animated-banner h1{
    text-align: center;
    font-size: 4rem;
    letter-spacing: .5rem;
    font-family: 'Luxurious Roman', Helvetica, sans-serif;
    margin: 23% 0;
}

.focus-in-contract-bck {
	animation: focus-in-contract-bck 2s 
               cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(16px);
      filter: blur(0);
      opacity: 1;
    }
  }
  

/* About Me Section */

#about-me {
    width: 100%;
    display: grid;
    grid-template: 1fr / 2fr 1.5fr 1.5fr;
    align-items: center;
    gap: 1rem;
    font-family: 'EB Garamond', serif;
}

#about-me img {
    border-radius: 50%;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: end;
}

#about-me-text h1 {
    font-size: 3rem;
}

#about-me p {
    font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
    #about-me {
        grid-template: 1fr 1fr / 1fr;
        justify-content: center;
        text-align: center;
    }

    #about-me img {
        justify-self: center;
    }
}

/* Image Animation */

.slide-in-fwd-left {
    opacity: 0;
}

.slide-in-fwd-left.animate {
    opacity: 1;
	animation: slide-in-fwd-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-fwd-left {
    0% {
      transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }

/* Projects */

#projects-header {
    text-align: center;
    margin-top: 20%;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;
}

#projects {
    display: grid;
    grid-template: 1fr / 2.5fr 0.5fr 2fr;
    gap: 1rem;
    margin: 10% 0;
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

#project-SS-1 {
    height: 25rem;
    grid-area: 1 / 1 / 2 / 1;
    justify-self: end;
}

#p-1-link {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;
    top: 25%;
    font-size: 1.5rem;
}

#p-2-link {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;
    top: 50%;
    font-size: 1.5rem;
}

#h-1 {
    grid-area: 1 / 3 / 1 / 3;
    margin: 0 3rem 0 0;

}

@media only screen and (max-width: 480px){
    #projects {
        grid-template: 1fr 0.25fr 1fr / 1fr;
    }

    #project-SS-1 {
        grid-area: 1 / 1 / 1 / 1;
        justify-self: center;
        width: 100%;
    }

    #p-1-link {
        grid-area: 2 / 1 / 2 / 1;
        position: relative;
        left: 25%;
        top: 0px;
    }
    
    #p-2-link {
        grid-area: 2 / 1 / 2 / 1;
        position: relative;
        left: 50%;
        top: 0px;
    }

    #h-1 {
        grid-area: 3 / 1 / 3 / 1;
        text-align: center;
        margin: 0;
    }
}