/* Document Defaults */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.4;
    letter-spacing: .1rem;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

a {
    color: lightblue;
}

/* Header and Navigation */

header {
    height: 69px;
    display: flex;
    justify-content: end;
}

nav {
    height: 100%;
    width: 100%;    
}
nav ul {
    width: 100%;
    justify-content: space-around;
    display: flex;    
}
nav li {
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Luxurious Roman', Helvetica, sans-serif;
    margin: 40px 5% 0 0;
}

nav a {
    color: white;
}

nav a:hover {
    color: lightblue;
}

@media only screen and (max-width: 780px) {
nav li {
    font-size: 1.5rem;  
}
}

@media only screen and (max-width: 380px) {
    nav li {
        font-size: 1rem; 
    }
}

/* Animated Banner */

#animated-banner {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#animated-banner h1{
    text-align: center;
    font-size: 4rem;
    text-shadow: black 0px 0 10px;
    letter-spacing: .5rem;
    font-family: 'Luxurious Roman', Helvetica, sans-serif;
    margin: 23% 0;
    position: absolute;
}

.focus-in-contract-bck {
	animation: focus-in-contract-bck 2s 
               cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(18.75rem);
      filter: blur(0.75rem);
      opacity: 0;
    }
    100% {
      transform: translateZ(1rem);
      filter: blur(0);
      opacity: 1;
    }
  }
  
@media only screen and (max-width: 780px) {
    #animated-banner h1 {
        font-size: 3rem;
    }

    #background-video {
        margin: 0 0 20%;
    }
}

@media only screen and (max-width: 380px) {
    #animated-banner h1 {
        font-size: 2rem;
    }
}

/* About Me Section */

#about-me {
    width: 100%;
    display: grid;
    grid-template: 1fr / 2fr 1.5fr 1.5fr;
    align-items: center;
    gap: 1rem;
    font-family: 'EB Garamond', serif;
}

#about-me img {
    border-radius: 50%;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: end;
    width: 75%;
}

#about-me-text h1 {
    font-size: 3rem;
    margin: 0 2rem ;
}

#about-me p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 2rem 0;
}


@media only screen and (max-width: 780px) {
    #about-me {
        grid-template: 1fr 1fr / 1fr;
        justify-content: center;
        text-align: center;
    }

    #about-me img {
        justify-self: center;
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 380px) {
    #about-me img {
        width: 200px;
        height: 200px;
    }
}

/* Image Animation */

.slide-in-fwd-left {
    opacity: 0;
}

.slide-in-fwd-left.animate {
    opacity: 1;
	animation: slide-in-fwd-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-fwd-left {
    0% {
      transform: translateZ(-87.5rem) translateX(-62.5rem);
      opacity: 0;
    }
    100% {
      transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }

/* Projects */

#projects-header {
    text-align: center;
    padding: 20% 0 5rem;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;
}

.projects {     
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.projects a {
    color: white;
    text-decoration: underline;
}
.projects a:hover {
    color: lightblue;
    text-decoration: none;
}

.wrapper {
    display: flex;
}
.project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text-div h3 {
    font-weight: 600;
}

.text-div {
    width: 35vw;
    font-size: 3vw;
}

.project_image{
    width: 50vw;
    padding: 0 2rem 0 4rem;
}

.p-link {
    font-size: 1.5rem;
}

@media only screen and (max-width: 780px){
    .projects {
        flex-direction: column;
        justify-content: start;;
        align-items: center;
        height: 100%;
    }

    .project_image {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
    }

    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-links {
        flex-direction: row;
        justify-content: space-around;
        width: 50vw;
    }

    .text-div {
        width: 80vw;
        margin-top: 4rem;
    }
}

/* Contact */

#contact {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

#contact-me {
    font-size: 3rem;
    margin: 15% 0 0;
}

#contact p {
    font-size: 1.2rem;
}

#social-icons {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 3rem 0 0;
    padding:0;
    display:flex;
    justify-content: center;
  }
  
  #social-icons li {
    list-style: none;
  }
  
  #social-icons li a {
    position: relative;
    width:50px;
    height:50px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  #social-icons li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  #social-icons li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(50px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  
  #social-icons li:nth-child(1) a:hover .fab {
    color: #00aced;
  }
  
  #social-icons li:nth-child(2) a:hover .fab {
    color: #9cdaf1;
  }
  
  #social-icons li:nth-child(3) a:hover .fab {
    color: #007bb6;
  }
  
  #social-icons li:nth-child(4) a:hover .fab {
    color: #0D740A;
  }